In [2]:
import pandas as pd

# some function in pandas are "DataFrame", "read_csv()","Series()", "Values"

In [3]:
#creating a dataframe from csv file

csv_path = "file.csv"
df = pd.read_csv(csv_path)
df.head()

FileNotFoundError: [Errno 2] File b'file.csv' does not exist: b'file.csv'

In [ ]:
#sample
csv_path = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv"
df = pd.read_csv(csv_path)
df.head()

In [ ]:
n = df[["Artist","Genre"]]
n.head()

In [ ]:
# the same method is applied to an excel file

xlxs = "file.xlsx"
df= pd.read_excel(xlxs)

In [ ]:
#sample_excel
xlxs = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx"
df=pd.read_excel(xlxs)
df.head()

In [4]:
#creating a dataframe from dictionary 

songs = {"albums":["a","b","c","d"], 
         "year": [1990,1991,1992,1993], 
         "length":[1,2,3,4] }

song_dataframe= pd.DataFrame(songs)
song_dataframe.head()

  albums  year  length
0      a  1990       1
1      b  1991       2
2      c  1992       3
3      d  1993       4

In [ ]:
# we can extract a single column data from the dataframe as shown below

x=song_dataframe[["length"]]

x.head()

In [ ]:

#for multiple columns

y= song_dataframe[["length", "year"]]
y.head()

In [ ]:
#using loc and iloc to access data in rows and columns

song_dataframe.loc[0,"length"]

In [ ]:
song_dataframe.loc[1,"length"]

In [ ]:
song_dataframe.loc[2,"year"]

In [ ]:
song_dataframe.iloc[0,1]

In [ ]:
song_dataframe.iloc[1,1]

In [ ]:
#using loc and iloc to slice data

z = song_dataframe.loc[0:2, "albums":"year"]
z.head()

In [10]:
f= song_dataframe.iloc[0:4,0:3]
f.head()

  albums  year  length
0      a  1990       1
1      b  1991       2
2      c  1992       3
3      d  1993       4

In [ ]:
pwd

In [ ]:
xlsx_path = "/Users/RASHY/Desktop/whostat2005_mortality.xls"
df = pd.read_excel(xlsx_path)
df.head()

In [ ]:
xlxs1 = "/Users/RASHY/Documents/newsampledata.xlsx"
df = pd.read_excel(xlxs1)
df.head()

In [ ]:
df[["OrderDate","Units"]]

In [3]:
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4',"Nissan"],
        'Price': [32000,35000,37000,45000,45000]
        }
cars_dataFrame = pd.DataFrame(cars)
cars_dataFrame.head()

            Brand  Price
0     Honda Civic  32000
1  Toyota Corolla  35000
2      Ford Focus  37000
3         Audi A4  45000
4          Nissan  45000

In [ ]:
#to export file to excel (to exclude index--> index=false)
cars_dataFrame.to_excel(r"/Users/RASHY/Documents/cars_price.xlsx",index=False)

In [ ]:
#to include header and index in excel
cars_dataFrame.to_excel(r"/Users/RASHY/Documents/cars_prices.xlsx",index=True, header=True)

In [ ]:
cars_dataFrame[["Price"]]

In [4]:
cars_dataFrame["Price"].unique()

array([32000, 35000, 37000, 45000], dtype=int64)

In [ ]:
df1=cars_dataFrame[cars_dataFrame["Price"]>= 45000]
df1.head()

In [ ]:
df2=cars_dataFrame[cars_dataFrame["Price"]< 45000]
df2.head()

In [11]:
import pandas as pd

data = [['Ayo', 10], ['Imran', 15], ['Chucks', 14]] 

df3 = pd.DataFrame(data,columns=["Name", "Age"])
df3.head()

     Name  Age
0     Ayo   10
1   Imran   15
2  Chucks   14

In [12]:
# Create the pandas DataFrame from the dictionary of narray list
#Example 1:
# initialize list of lists 
data = {'Name': ['Ayo', 'Imran','Chucks'] ,'Age':[10, 15, 14]}
df4 = pd.DataFrame(data)
df4.head()

     Name  Age
0     Ayo   10
1   Imran   15
2  Chucks   14

In [5]:
#Example 2:

#Population and area (km/square) of some states in Nigeria and their capital

dict_data = {"State": ["Abia", "Adamawa", "Lagos", "Osun", "Rivers"], 
       "Capital": ["Umuahia", "Yola", "Ikeja", "Osogbo", "Portharcourt"], 
       "area": [6320, 36917, 3345, 9251, 11077], 
       "population": [2845380, 3178950, 9113605, 3416959, 5198605] } 
df5 = pd.DataFrame(dict_data)
df5

     State       Capital   area  population
0     Abia       Umuahia   6320     2845380
1  Adamawa          Yola  36917     3178950
2    Lagos         Ikeja   3345     9113605
3     Osun        Osogbo   9251     3416959
4   Rivers  Portharcourt  11077     5198605

In [ ]:
df5.dtypes

In [ ]:
# pandas Datadaframe from lists using zip. 

# List1 
Name = ['Ayo', 'Imran','Chucks', 'judith'] 

# List2 
Age = [25, 30, 26, 22] 

list_of_tuples = list(zip(Name,Age))

df6 = pd.DataFrame(list_of_tuples, columns = ["Name","Age"])
df6

In [ ]:
series_data = {"State": pd.Series(["Abia", "Adamawa", "Lagos", "Osun", "Rivers"]), 
       "Capital": pd.Series(["Umuahia", "Yola", "Ikeja", "Osogbo", "Portharcourt"]), 
       "area": pd.Series([6320, 36917, 3345, 9251, 11077]), 
       "population": pd.Series([2845380, 3178950, 9113605, 3416959, 5198605]) }
df7 = pd.DataFrame(series_data)
df7

In [6]:
excel1 ="/Users/RASHY/Documents/cars_prices.xlsx"
df8 = pd.read_excel(excel1)
df8

   Unnamed: 0           Brand  Price
0           0     Honda Civic  32000
1           1  Toyota Corolla  35000
2           2      Ford Focus  37000
3           3         Audi A4  45000

In [8]:
trial = "/Users/RASHY/Documents/newsampledata.xlsx"
df8 = pd.read_excel(trial)
df8

    OrderDate   Region       Rep     Item  Units  Unit Cost    Total
0  2019-01-06     East     Jones   Pencil     95       1.99   189.05
1  2019-01-23  Central    Kivell   Binder     50      19.99   999.50
2  2019-02-09  Central   Jardine   Pencil     36       4.99   179.64
3  2019-02-26  Central      Gill      Pen     27      19.99   539.73
4  2019-03-15     West   Sorvino   Pencil     56       2.99   167.44
5  2019-04-01     East     Jones   Binder     60       4.99   299.40
6  2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
7  2019-05-05  Central   Jardine   Pencil     90       4.99   449.10
8  2019-05-22     West  Thompson   Pencil     32       1.99    63.68
9  2019-06-08     East     Jones   Binder     60       8.99   539.40
10 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
11 2019-07-12     East    Howard   Binder     29       1.99    57.71
12 2019-07-29     East    Parent   Binder     81      19.99  1619.19
13 2019-08-15     East     Jones   Pencil     35       4.99   174.65
14 2019-09-01  Central     Smith     Desk      2     125.00   250.00
15 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
16 2019-10-05  Central    Morgan   Binder     28       8.99   251.72
17 2019-10-22     East     Jones      Pen     64       8.99   575.36
18 2019-11-08     East    Parent      Pen     15      19.99   299.85
19 2019-11-25  Central    Kivell  Pen Set     96       4.99   479.04
20 2019-12-12  Central     Smith   Pencil     67       1.29    86.43
21 2019-12-29     East    Parent  Pen Set     74      15.99  1183.26
22 2020-01-15  Central      Gill   Binder     46       8.99   413.54
23 2020-02-01  Central     Smith   Binder     87      15.00  1305.00
24 2020-02-18     East     Jones   Binder      4       4.99    19.96
25 2020-03-07     West   Sorvino   Binder      7      19.99   139.93
26 2020-03-24  Central   Jardine  Pen Set     50       4.99   249.50
27 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
28 2020-04-27     East    Howard      Pen     96       4.99   479.04
29 2020-05-14  Central      Gill   Pencil     53       1.29    68.37
30 2020-05-31  Central      Gill   Binder     80       8.99   719.20
31 2020-06-17  Central    Kivell     Desk      5     125.00   625.00
32 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
33 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34 2020-08-07  Central    Kivell  Pen Set     42      23.95  1005.90
35 2020-08-24     West   Sorvino     Desk      3     275.00   825.00
36 2020-09-10  Central      Gill   Pencil      7       1.29     9.03
37 2020-09-27     West   Sorvino      Pen     76       1.99   151.24
38 2020-10-14     West  Thompson   Binder     57      19.99  1139.43
39 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
40 2020-11-17  Central   Jardine   Binder     11       4.99    54.89
41 2020-12-04  Central   Jardine   Binder     94      19.99  1879.06
42 2020-12-21  Central   Andrews   Binder     28       4.99   139.72

In [9]:
print (df8.head(),"\n")

print(df8["Units"].head())

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0 2019-01-06     East    Jones  Pencil     95       1.99  189.05
1 2019-01-23  Central   Kivell  Binder     50      19.99  999.50
2 2019-02-09  Central  Jardine  Pencil     36       4.99  179.64
3 2019-02-26  Central     Gill     Pen     27      19.99  539.73
4 2019-03-15     West  Sorvino  Pencil     56       2.99  167.44

0    95
1    50
2    36
3    27
4    56
Name: Units, dtype: int64

In [10]:
print (df8.tail(),"\n")

print (df8["Units"].tail())

    OrderDate   Region       Rep    Item  Units  Unit Cost    Total
38 2020-10-14     West  Thompson  Binder     57      19.99  1139.43
39 2020-10-31  Central   Andrews  Pencil     14       1.29    18.06
40 2020-11-17  Central   Jardine  Binder     11       4.99    54.89
41 2020-12-04  Central   Jardine  Binder     94      19.99  1879.06
42 2020-12-21  Central   Andrews  Binder     28       4.99   139.72

38    57
39    14
40    11
41    94
42    28
Name: Units, dtype: int64

In [ ]:
df8.describe()

In [ ]:
df8.describe(include = "all")

In [ ]:
df8["Unit Cost"].mean()

In [ ]:
df8["Units"].prod()

In [ ]:
df8["Units"].mode()

In [ ]:
df8.columns

In [ ]:
df8.info

In [ ]:
df8["Region"]

In [ ]:
df8[["Region"]]

In [ ]:
df8[["Region","Units"]]

In [ ]:
df8.describe(include="all")

In [ ]:
df8[0:6]

In [ ]:
df8[6:8]

In [ ]:
df8.loc[4:6,"Region":"Item"]

In [ ]:
df8.iloc[0:6,2:4]

In [13]:
dff = df8.drop(["Region"], axis=1)
print(dff)

    OrderDate       Rep     Item  Units  Unit Cost    Total
0  2019-01-06     Jones   Pencil     95       1.99   189.05
1  2019-01-23    Kivell   Binder     50      19.99   999.50
2  2019-02-09   Jardine   Pencil     36       4.99   179.64
3  2019-02-26      Gill      Pen     27      19.99   539.73
4  2019-03-15   Sorvino   Pencil     56       2.99   167.44
5  2019-04-01     Jones   Binder     60       4.99   299.40
6  2019-04-18   Andrews   Pencil     75       1.99   149.25
7  2019-05-05   Jardine   Pencil     90       4.99   449.10
8  2019-05-22  Thompson   Pencil     32       1.99    63.68
9  2019-06-08     Jones   Binder     60       8.99   539.40
10 2019-06-25    Morgan   Pencil     90       4.99   449.10
11 2019-07-12    Howard   Binder     29       1.99    57.71
12 2019-07-29    Parent   Binder     81      19.99  1619.19
13 2019-08-15     Jones   Pencil     35       4.99   174.65
14 2019-09-01     Smith     Desk      2     125.00   250.00
15 2019-09-18     Jones  Pen Set     16      15.99   255.84
16 2019-10-05    Morgan   Binder     28       8.99   251.72
17 2019-10-22     Jones      Pen     64       8.99   575.36
18 2019-11-08    Parent      Pen     15      19.99   299.85
19 2019-11-25    Kivell  Pen Set     96       4.99   479.04
20 2019-12-12     Smith   Pencil     67       1.29    86.43
21 2019-12-29    Parent  Pen Set     74      15.99  1183.26
22 2020-01-15      Gill   Binder     46       8.99   413.54
23 2020-02-01     Smith   Binder     87      15.00  1305.00
24 2020-02-18     Jones   Binder      4       4.99    19.96
25 2020-03-07   Sorvino   Binder      7      19.99   139.93
26 2020-03-24   Jardine  Pen Set     50       4.99   249.50
27 2020-04-10   Andrews   Pencil     66       1.99   131.34
28 2020-04-27    Howard      Pen     96       4.99   479.04
29 2020-05-14      Gill   Pencil     53       1.29    68.37
30 2020-05-31      Gill   Binder     80       8.99   719.20
31 2020-06-17    Kivell     Desk      5     125.00   625.00
32 2020-07-04     Jones  Pen Set     62       4.99   309.38
33 2020-07-21    Morgan  Pen Set     55      12.49   686.95
34 2020-08-07    Kivell  Pen Set     42      23.95  1005.90
35 2020-08-24   Sorvino     Desk      3     275.00   825.00
36 2020-09-10      Gill   Pencil      7       1.29     9.03
37 2020-09-27   Sorvino      Pen     76       1.99   151.24
38 2020-10-14  Thompson   Binder     57      19.99  1139.43
39 2020-10-31   Andrews   Pencil     14       1.29    18.06
40 2020-11-17   Jardine   Binder     11       4.99    54.89
41 2020-12-04   Jardine   Binder     94      19.99  1879.06
42 2020-12-21   Andrews   Binder     28       4.99   139.72

In [ ]:
del dff["Units"]
dff

In [ ]:
dff.pop("Unit Cost")
dff

In [ ]:
dff["Total"].mean()

In [ ]:
dff.mean()

In [ ]:
dff["Region"] = df8["Region"].astype("float")

In [48]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2

In [34]:
V={'1','2'}
"1" in V

True