In [1]:
alien_0 = {'color': 'green', 'points': 5}

In [5]:

print("You just earned " + str(alien_0["points"]) + " points!")

You just earned 5 points!

In [6]:
alien_0["color"]

'green'

In [8]:
alien_0["water"] = 6
print (alien_0)

{'color': 'green', 'points': 5, 'water': 6}

In [9]:
#adding to empty dictionary
dic = {}
dic["mustapha"]= "success"
dic["muhammad"]= "successful muslim"
print (dic)

{'mustapha': 'success', 'muhammad': 'successful muslim'}

In [10]:
#modifying dictionary
dic ["mustapha"]= "You must be successful"
print(dic)

{'mustapha': 'You must be successful', 'muhammad': 'successful muslim'}

In [11]:
del dic["mustapha"]
print (dic)

{'muhammad': 'successful muslim'}

In [17]:
data_base = {"first_name":"Mustapha",
             "last_name" : "Muhammad",
             "age": 22,
             "country" : "Nigeria"
            }

In [18]:
print (data_base)

{'first_name': 'Mustapha', 'last_name': 'Muhammad', 'age': 22, 'country': 'Nigeria'}

In [21]:
data_base["first_name"]

'Mustapha'

In [22]:
data_base["last_name"]

'Muhammad'

In [23]:
data_base["age"]

22

In [24]:
data_base["country"]

'Nigeria'

In [ ]:
data_base = {"first_name":"Mustapha",
             "last_name" : "Muhammad",
             "age": 22,
             "country" : "Nigeria"
            }

In [25]:
data_base["state"]= "ogun"

In [26]:
data_base

{'first_name': 'Mustapha',
 'last_name': 'Muhammad',
 'age': 22,
 'country': 'Nigeria',
 'state': 'ogun'}

In [46]:
data_base1 = {"Mustapha" : 25,
              "Muhammad": 26,
             "habib": 22,
             "segun" : 4
             }

In [29]:
print (data_base1)

{'Mustapha': 25, 'Muhammad': 26, 'habib': 22, 'segun': 4}

In [48]:
#using a for loop to save stress
for key,value in data_base1.items():
    print (key,"favourite number is",value)

Mustapha favourite number is 25
Muhammad favourite number is 26
habib favourite number is 22
segun favourite number is 4

In [36]:
#concatenation of string and integer using plus(+)
print ("Mustapha favourite number is " + str(data_base1["Mustapha"]))
print ("Muhammad favourite number is " + str(data_base1["Muhammad"]))
print ("habib favourite number is " + str(data_base1["habib"]))
print ("segun favourite number is " + str(data_base1["segun"]))

Mustapha favourite number is 25
Muhammad favourite number is 26
habib favourite number is 22
segun favourite number is 4

In [38]:
#concatenation of string and integer using comma(,)
print ("Mustapha favourite number is" , data_base1["Mustapha"])
print ("Muhammad favourite number is" , data_base1["Muhammad"])
print ("habib favourite number is" , data_base1["habib"],"\n")
print ("segun favourite number is" , data_base1["segun"])

Mustapha favourite number is 25
Muhammad favourite number is 26
habib favourite number is 22

segun favourite number is 4

In [53]:
data_base = {"string":"use to define word and sentence",
             "integer" : "use to define whole number/figure",
             "float": "use to define decimal number",
             "bool" : "use to define boolean e.g TRUE or FALSE",
            }

In [54]:
print ("string:", data_base["string"] +".\n")
print ("integer:", data_base["integer"]+".\n")
print ("float:", data_base["float"]+"\n")
print ("bool:", data_base["bool"]+".\n")

string: use to define word and sentence.

integer: use to define whole number/figure.

float: use to define decimal number

bool: use to define boolean e.g TRUE or FALSE.

In [58]:
for k,v in data_base.items():
    print("\nKey: " +k)
    print("Value: " + v)

Key: string
Value: use to define word and sentence

Key: integer
Value: use to define whole number/figure

Key: float
Value: use to define decimal number

Key: bool
Value: use to define boolean e.g TRUE or FALSE

In [59]:
for k in data_base.items():
    print (k)

('string', 'use to define word and sentence')
('integer', 'use to define whole number/figure')
('float', 'use to define decimal number')
('bool', 'use to define boolean e.g TRUE or FALSE')

In [60]:
for k in data_base:
    print(k)

string
integer
float
bool

In [71]:
for k in data_base.values():
    print(k)

use to define word and sentence
use to define whole number/figure
use to define decimal number
use to define boolean e.g TRUE or FALSE

In [72]:
for k in data_base.keys():
    print(k)

string
integer
float
bool

In [78]:
favorite_languages = {    'jen': 'python',    'sarah': 'c',    'edward': 'ruby',    'phil': 'python',    }

In [82]:
for key,value in favorite_languages.items():
    print(key,value)

jen python
sarah c
edward ruby
phil python

In [91]:
#method 1
favorite_languages = {    'jen': 'python',    'sarah': 'c',    'edward': 'ruby',    'phil': 'python',    }

friends = ["jen","sarah"]
for key in favorite_languages.keys():
    print (key)
    
    if key in friends:
        print ("hi " +key + ", I know you love "+
               favorite_languages[key]+"!")

jen
hi jen, I know you love python!
sarah
hi sarah, I know you love c!
edward
phil

In [8]:
#method 2
favorite_languages = {    'jen': 'python',    'sarah': 'c',    'edward': 'ruby',    'phil': 'python',    }

friends = ["jen","sarah"]
for key,value in favorite_languages.items():
    print (key)
    
    if key in friends:
        print ("hi " +key + ", I know you love "+
              value+"!")

jen
hi jen, I know you love python!
sarah
hi sarah, I know you love c!
edward
phil

In [86]:
if "erin"  not in favorite_languages.keys():
    print ("erin, ileya")

erin, ileya

In [98]:
for name in sorted(favorite_languages.keys()):  
    print(name.title() + ", thank you for taking the poll.")

Edward, thank you for taking the poll.
Jen, thank you for taking the poll.
Phil, thank you for taking the poll.
Sarah, thank you for taking the poll.

In [99]:
for value in favorite_languages.values():
    print (value)

python
c
ruby
python

In [102]:
# to avoid repetition in values use *set*
for value in set(favorite_languages.values()):
    print (value)

ruby
c
python

jen
hi jen, I know you love python!
sarah
hi sarah, I know you love c!
edward
phil

In [12]:
refresh= {"string":"use to define word and sentence",
             "integer" : "use to define whole number/figure",
             "float": "use to define decimal number",
             "bool" : "use to define boolean e.g TRUE or FALSE"
         }

In [13]:
for key,value in refresh.items():
    print ("\nKey: "+key)
    print ("Value: "+value)

Key: string
Value: use to define word and sentence

Key: integer
Value: use to define whole number/figure

Key: float
Value: use to define decimal number

Key: bool
Value: use to define boolean e.g TRUE or FALSE

In [15]:
refresh["true"]= "it is a boolean"
refresh["false"]= "it is a boolean"

In [16]:
print(refresh)

{'string': 'use to define word and sentence', 'integer': 'use to define whole number/figure', 'float': 'use to define decimal number', 'bool': 'use to define boolean e.g TRUE or FALSE', 'true': 'it is a boolean', 'false': 'it is a boolean'}

In [17]:
for key,value in refresh.items():
    print ("\nKey: "+key)
    print ("Value: "+value)

Key: string
Value: use to define word and sentence

Key: integer
Value: use to define whole number/figure

Key: float
Value: use to define decimal number

Key: bool
Value: use to define boolean e.g TRUE or FALSE

Key: true
Value: it is a boolean

Key: false
Value: it is a boolean

In [35]:
rivers = {"nile": "egypt",
         "atlantic": "nigeria",
         "pacific": "canada"
         }

for key,value in rivers.items():
    print ("The " +key.title() + " runs through ", value.title())

The Nile runs through  Egypt
The Atlantic runs through  Nigeria
The Pacific runs through  Canada

In [40]:

for key in rivers.keys():
    print (key)
    
print("\n")

for value in rivers.values():
    print (value)

nile
atlantic
pacific


egypt
nigeria
canada

In [46]:
favorite_languages = {    'jen': 'python',    'sarah': 'c',    'edward': 'ruby',    'phil': 'python',    }

friendship = ["wale", "sarah"]
for key,value in favorite_languages.items():
    if key in friendship: 
        print (key+", you are invited to the poll")
    else:
        print (key+", thanks for responding")

jen, thanks for responding
sarah, you are invited to the poll
edward, thanks for responding
phil, thanks for responding

In [61]:
favorite_languages = {    'jen': 'python',    'sarah': 'c',    'edward': 'ruby',    'phil': 'python',    }

friendship = ["wale", "sarah"]
for friend in friendship:
    print (friend+", you are invited to the poll")
    
    if friend in favorite_languages: 
        print (key+", thanks for responding")

wale, you are invited to the poll
sarah, you are invited to the poll
phil, thanks for responding

In [20]:
#revision
for value in list(range(1,10)):
    print (value)

1
2
3
4
5
6
7
8
9

In [64]:
favorite_languages = {    'jen': ['python', 'ruby'],  
                      'sarah': ['c'],   
                      'edward': ['ruby', 'go'],   
                      'phil': ['python', 'haskell'],    
                     }
for name, languages in favorite_languages.items():  
    if len(languages) > 1:
        print("\n" + name.title() + "'s favorite languages are:")
    else:
        print("\n" + name.title() + "'s favorite language is:")
    for language in languages:     
        print("\t" + language.title())

Jen's favorite languages are:
	Python
	Ruby

Sarah's favorite language is:
	C

Edward's favorite languages are:
	Ruby
	Go

Phil's favorite languages are:
	Python
	Haskell

In [65]:
segun = {"position": "first", "cgpa": 4.84}
joshua = {"poision":"second", "cgpa": 4.67}
dammy = {"poision":"third", "cgpa": 4.60}
muhammad = {"poision":"forth", "cgpa": 4.54}

scholars = [segun,joshua,dammy,muhammad]
for scholar in scholars:
    print (scholar)

{'position': 'first', 'cgpa': 4.84}
{'poision': 'second', 'cgpa': 4.67}
{'poision': 'third', 'cgpa': 4.6}
{'poision': 'forth', 'cgpa': 4.54}

In [71]:
scholars = []

for scholar_number in range (30):
    new_scholar = {'position': 'fifth', 'cgpa': 4.46}
    scholars.append(new_scholar)

for scholar in scholars[0:5]:
    print (scholar)
print ("\nTotal number of scholars:" + str(len(scholars)))

{'position': 'fifth', 'cgpa': 4.46}
{'position': 'fifth', 'cgpa': 4.46}
{'position': 'fifth', 'cgpa': 4.46}
{'position': 'fifth', 'cgpa': 4.46}
{'position': 'fifth', 'cgpa': 4.46}

Total number of scholars:30

In [73]:
scholars = []

for scholar_number in range (30):
    new_scholar = {'position': 'fifth', 'cgpa': 4.46}
    scholars.append(new_scholar)

for scholar in scholars[0:3]:
    if scholar["position"] == "fifth":
        scholar["position"] = "first"
        scholar["cgpa"]= 4.84
        
for scholar in scholars[0:5]:
    print (scholar)
print ("\nTotal number of scholars:" + str(len(scholars)))

{'position': 'first', 'cgpa': 4.84}
{'position': 'first', 'cgpa': 4.84}
{'position': 'first', 'cgpa': 4.84}
{'position': 'fifth', 'cgpa': 4.46}
{'position': 'fifth', 'cgpa': 4.46}

Total number of scholars:30

In [74]:
scholars = []

for scholar_number in range (30):
    new_scholar = {'position': 'fifth', 'cgpa': 4.46}
    scholars.append(new_scholar)

for scholar in scholars[0:3]:
    if scholar["position"] == "fifth":
        scholar["position"] = "first"
        scholar["cgpa"]= 4.84
    elif scholar["position"] == "first":
        scholar["position"] = "second"
        scholar["cgpa"]= 4.67
        
for scholar in scholars[0:5]:
    print (scholar)
print ("\nTotal number of scholars:" + str(len(scholars)))

{'position': 'first', 'cgpa': 4.84}
{'position': 'first', 'cgpa': 4.84}
{'position': 'first', 'cgpa': 4.84}
{'position': 'fifth', 'cgpa': 4.46}
{'position': 'fifth', 'cgpa': 4.46}

Total number of scholars:30

In [77]:
food = {"carbonhydrate":"rice",
       "proteins": ["dodo","meat","fish"]
       }
print ("you ordered a " + food["carbonhydrate"] + " with the following proteins:")

for protein in food["proteins"]:
    print ("\t"+protein)

you ordered a rice with the following proteins:
	dodo
	meat
	fish

In [98]:
users= {"zanta":{"first":"zaynab", 
                 "middle":"aramide",
                "last":"taiwo",
                "location":"kwara"},
        
        "abmuhammad2":{"first":"mustapha", 
                 "middle":"abiola",
                "last":"muhammad",
                "location":"lagos"}
        }
for user,user_info in users.items():
    Full_name = user_info["first"] + " " + user_info["middle"]+ " " + user_info["last"]
    Location = user_info["location"]
    print ("\nUsername: " + user)
    print ("\tFull name: " + Full_name.title())
    print ("\tLocation: " + Location.title())

Username: zanta
	Full name: Zaynab Aramide Taiwo
	Location: Kwara

Username: abmuhammad2
	Full name: Mustapha Abiola Muhammad
	Location: Lagos

In [99]:
zanta = {"first":"zaynab", 
                 "middle":"aramide",
                "last":"taiwo",
                "location":"kwara"}
        
abmuhammad2 = {"first":"mustapha", 
                 "middle":"abiola",
                "last":"muhammad",
                "location":"lagos"}
peoples = [zanta,abmuhammad2]
for people in peoples:
    print (people)

{'first': 'zaynab', 'middle': 'aramide', 'last': 'taiwo', 'location': 'kwara'}
{'first': 'mustapha', 'middle': 'abiola', 'last': 'muhammad', 'location': 'lagos'}

In [105]:
favorite_places = {"zanta":["dublin","ireland","london"],
                  "abmuhammad2":["canada","America","germany"]
                  }
for name,places in favorite_places.items():
    print("\n"+ name.upper()+":")
    
    for place in places:
        print("\t"+ place.title())

ZANTA:
	Dublin
	Ireland
	London

ABMUHAMMAD2:
	Canada
	America
	Germany

In [148]:
#without converting to integer
data_base1 = {"Mustapha" : [25,27,6],
              "Muhammad": [26,4],
             "habib": 22,
             "segun" : 4
             }
for key,values in data_base1.items():
    if len(str(values)) > 1:
        print (key+"'s favourite numbers are:")
    else:
        print (key+"'s favourite number is:")
    for value in values:
        print ("\t"+ str(value))

Mustapha's favourite numbers are:
	25
	27
	6
Muhammad's favourite numbers are:
	26
	4
habib's favourite numbers are:

TypeError: 'int' object is not iterable

In [153]:
#converting all value to string
data_base1 = {"Mustapha" : ["25","27","6"],
              "Muhammad": ["26","4"],
             "habib": ["12"],
             "segun" : "4"
             }
for key,values in data_base1.items():
    if len(values) > 1:
        print ("\n"+key+"'s favourite numbers are:")
    else:
        print ("\n"+key+"'s favourite number is:")
    for value in values:
        print ("\t"+ value)

Mustapha's favourite numbers are:
	25
	27
	6

Muhammad's favourite numbers are:
	26
	4

habib's favourite number is:
	12

segun's favourite number is:
	4

In [155]:
data_base1["dammy"]= ["5","60"]
print (data_base1)

{'Mustapha': ['25', '27', '6'], 'Muhammad': ['26', '4'], 'habib': ['12'], 'segun': '4', 'dammy': ['5', '60']}

In [156]:
for key,values in data_base1.items():
    if len(values) > 1:
        print ("\n"+key+"'s favourite numbers are:")
    else:
        print ("\n"+key+"'s favourite number is:")
    for value in values:
        print ("\t"+ value)

Mustapha's favourite numbers are:
	25
	27
	6

Muhammad's favourite numbers are:
	26
	4

habib's favourite number is:
	12

segun's favourite number is:
	4

dammy's favourite numbers are:
	5
	60

In [159]:
cities= {    'toronto': ['canada', '2 million people',"largest city"],  
                      'sydney': ['australia',"1 million people", "smallest city"],
        }
for city,infos in cities.items():
    print ("\nCity: "+ city.title())
    
    for info in infos:
        print ("\t"+ info)

City: Toronto
	canada
	2 million people
	largest city

City: Sydney
	australia
	1 million people
	smallest city

In [163]:
cities= {    'toronto': {"country":'canada', "population":'2 million people',"fact":"largest city"},  
                      'sydney': {"country":'australia',"population":"1 million people","fact": "smallest city"},
        }
for city,infos in cities.items():
    
    Country = infos["country"] 
    Population = infos["population"] 
    Fact = infos["fact"]
    
    print ("\nCity: "+ city.title())
    print ("\tCountry: "+ Country )
    print ("\tPopulation: "+ Population)
    print ("\tFact: "+ Fact)

City: Toronto
	Country: canada
	Population: 2 million people
	Fact: largest city

City: Sydney
	Country: australia
	Population: 1 million people
	Fact: smallest city